<div class="container mt-5">
        <button class="btn btn-primary">Botão Primário</button>
        <button class="btn btn-secondary">Botão Secundário</button>
        <button class="btn btn-success">Botão Sucesso</button>
        <button class="btn btn-danger">Botão Perigo</button>
        <button class="btn btn-warning">Botão Aviso</button>
        <button class="btn btn-info">Botão Informativo</button>
        <button class="btn btn-light">Botão Claro</button>
        <button class="btn btn-dark">Botão Escuro</button>
        <button class="btn btn-link">Botão Link</button>
    </div>